@model TinyURl.MVC.Models.ViewModels.UrlModel

@Html.ValidationSummary(false,"",new {@class="text-danger"})

<h5>Вы вошли как @User.Identity.Name</h5>

@if (@User.Identity.Name == "Anonymous")
{
    <h3> В этой версии функционал не поддерживается </h3>
}
else
{
    <h2>Введите ссылку</h2>
    <p><a asp-action="Index" asp-controller="TinyUrl">Вернуться назад</a></p>

    <form asp-action="CreateTinyUrl" asp-controller="TinyUrl" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"/>
        <div>
            <div class="form-group">
                <label asp-for="OriginalUrl">Введите ccылку для преобразования</label>
                <input type="text" asp-for="OriginalUrl"/>
                <span asp-validation-for="OriginalUrl"/>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TinyPath"/>
                <input type="hidden" asp-for="UrlExist"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Получить короткую ссылку" class="btn btn-outline-dark"/>
            </div>
        </div>
    </form>
}
@{
    if (@Model.UrlExist)
    {

        <p>@Model.OriginalUrl = <a href=@Model.FullTinyUrl> @Model.FullTinyUrl </a></p>
    }
}



@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


